
# litecoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=9332
#port=19332

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=fbc0b6db
genesis=12a765e31ffd4059bada1e25190f6e98c99d9714d334efa41a195a7e7e04bfe2
input=/home/example/.litecoin/blocks

# testnet
#netmagic=fcc1b7dc
#genesis=f5ae71e26c74beacc88382716aced69cddf3dffff24f384e1808905e0188f68f
#input=/home/example/.litecoin/testnet3/blocks

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
